body{
margin: 20px;
}

.chat{
    background-color: rgb(182, 237, 219);
    padding: 10px;
    margin: 10px;
    border-radius: 17px;
    display: inline-block;
}

.msg{
    background-color: rgb(102, 44, 249);
    color: white;
    padding: 21px;
    border-radius: 14px;
}